.card.mt-3
  .card-body
    .card-text
      = image_tag user_avatar(user), class: 'rounded float-left mr-3'
      = link_to user_facebook_profile(user), class: 'strong' do
        %strong= user.name
      %div
        .badge.badge-primary
          = user.posts.count
          Posts
        .badge.badge-secondary
          = user.comments.count
          Comments

  = yield
