= form_tag(tags_path, method: "get", class: 'form-inline mt-3 float-right') do
  = text_field_tag :keyword, params[:keyword], class: 'form-control mr-2', placeholder: "Search..."
  = submit_tag "Go", class: 'btn btn-primary'

.clearfix
.mt-3
  - max = @tags.first.posts_count.to_f
  - @tags.each do |t|
    -font_size = ((t.posts_count/max)*5).ceil
    = link_to t.title, t, style: "font-size: #{font_size}em;", class: "ml-2 mr-2"

- if @next_page
  = link_to "Next page", tags_path(request.query_parameters.merge(page: @next_page)), class: 'mt-3 btn btn-primary btn-lg btn-block'
