.card-footer
  .d-inline.card-link
    = icon "thumbs-up"
    = post.reactions_count

  .d-inline.card-link
    = icon "message-circle"
    = post.comments_count

  = link_to post, class: 'card-link' do
    = icon "eye"
    View

  = link_to post.permalink_url, class: 'card-link', target: :_blank do
    = icon "external-link"
    On Facebook

  .float-right
    = post.created_at.in_time_zone("Cairo").strftime('%Y-%m-%d %H:%M')