.card-footer
  .card-footer-item
    = icon "thumbs-up"
    = post.reactions_count

  .card-footer-item
    = icon "message-circle"
    = post.comments_count

  = link_to post, class: 'card-footer-item' do
    = icon "eye"
    View

  = link_to post.permalink_url, class: 'card-footer-item', target: :_blank do
    = icon "external-link"
    On Facebook

  .card-footer-item.has-text-grey
    = icon "clock"
    = post.created_at.in_time_zone("Cairo").strftime('%Y-%m-%d %H:%M')
