%nav.navbar.is-dark{role: :navigation, 'aria-label': 'main navigation'}
  .navbar-brand
    %a.navbar-item{ href: '/' }
      %strong Egyptian Geeks

  .navbar-menu
    .navbar-start
      = link_to root_path, class: 'navbar-item' do
        = icon "home"
        Home
      = link_to users_path, class: 'navbar-item' do
        = icon "users"
        Users
      = link_to tags_path, class: 'navbar-item' do
        = icon "tag"
        Tags

    .navbar-end
      %a.navbar-item{href: "https://www.facebook.com/groups/egyptian.geeks/"}
        = icon "facebook"
        Facebook
      %a.navbar-item{href: "https://github.com/egyptian-geeks"}
        = icon "github"
        Github
